


.swiper {
    width: 100%;
    height: 100vh;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.background-slide{
  position: relative;
  background-size: contain; /* L'image sera entièrement visible */
  background-position: right;
  background-repeat: no-repeat;
  width: 100% !important;
  height: 100%;
  background-color: #b4b4b4;
  


}

.text{
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  left: 40px;
  top: 300px;
  width: 900px;
}

.title{
 font-size: 45px;
}
.description{
  font-size: 20px;
}
  
 
 